#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1.5em 4em;
    background-color: #E3E6F3;
    box-shadow: 0 0.313em 0.938em rgba(0, 0, 0, 0.1);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
}

@media screen and (max-width: 1000px) {
    #header {
        flex-direction: row-reverse;
        justify-content: center;
    }
}