.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.5em 4em;
    background-color: #E3E6F3;
    box-shadow: 0 0.313em 0.938em rgba(0, 0, 0, 0.1);
    position: none;
    bottom: 0;
    font-size: 1.2em;
}

.newPosition {
    position: absolute;
}

@media screen and (max-width: 550px) {
    .footer {
        font-size: 3.5vw;
        padding: 1.5em 1em;
        /* position: fixed; */
        bottom: 0;
    }

}