.error-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40em;
    width: 100vw;
    color: #333;
    flex-wrap: wrap;
}

.error-text-container {
    width: 20em;
}

.error-text-container .error-heading {
    font-size: 2em;
    font-weight: 600;
}

.error-message {
    font-size: 1.6em;
    margin-top: 1em;
}

.error-img {
    display: flex;
    width: 18.75em;
}

@media screen and (max-width: 700px) {
    .error-container {
        flex-direction: column;
        justify-content: center;
        gap: 6em;
        height: 80vh;
    }
}

@media screen and (max-width: 370px) {
    .error-container {
        padding: 1em;
        font-size: 1em;
    }

    .error-text-container {
        width: 100%;
    }

    .error-img {
        width: 15em;
    }
}